<h2><u>What is Digital Spartan?</u></h2>
Marketplace for digital entrepreneurs.
</br>
</br>
We focus on the now and the future, that's why Digital Spartan starts with Messenger chatbots (active, not templates).
</br>
</br>
Later on, we'll include augmented reality, voice bots, and what else we believe might be the future.

<h2><u>Roadmap</u></h2>

<b>May 2018:</b> Go online. Blogging. Social media.
</br>
</br>
<b>June 2018:</b> Add categories such as 3d Models, Mockup, Template, Email List etc.
</br>
</br>
Yeah I know it's not a very detailed or longterm plan, but I'm kind of developing it on the go.

<h2><u>Contribute</u></h2>
Would you like to be a part of Digital Spartan to enhance your CV and possible future income?
</br>
</br>
There are two ways to contribute
</br>
</br>
- Submit your work and get it listed for sale on Digital Spartan.
</br>
</br>
- Ruby on Rails developer (Stripe integration, affiliate system)

<h2><u>Do you have ideas?</u></h2>
Please don't hesitate to send ideas.
</br>
</br>
You can send ideas or any relevant information to jonas@digitalspartan.com, or message me directly on Facebook <a href="https://facebook.com/jonassuccess" target="_blank">here</a>.
</br>
</br>
Thanks for checking it out! 😊
</br>
</br>
<b>- Jonas Preisler</b>
</br>
</br>
<%= image_tag ('Jonas.jpg'), :style => "width: 250px;" %>